.style {
    margin: 10px;
    
}
h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 35px 0;
}
div {
    margin: 20px;
}
button {
    margin: 20px;
    font-size: 26px;
}
/* article {
    
    background: url(https://wallpaperaccess.com/full/793614.jpg)center/cover no-repeat fixed;
} */